.generator-section{
    width: 100%;
    margin-bottom: 5%;
    overflow: auto;
}

.filter-bar{
    width : 250px;
    align-items: center;
    margin-left: 3%;
    padding: 3%;
    height: 725px;
    float: left;
    background-color: aliceblue;
}

.generator-results{
    width : 65%;
    padding: 3%;
    height: 725px;
    margin-left: 5%;
    float: left;
    overflow-y: auto;
    background-color: aliceblue;
}

.filter-bar-mobile{
    width : 25%;
    align-items: center;
    margin-left: 3%;
    padding: 3%;
    height: 725px;
    background-color: aliceblue;
}

.generator-results-mobile{
    width : 65%;
    padding: 3%;
    height: 725px;
    margin-left: 5%;
    overflow-y: auto;
    background-color: aliceblue;
}

@media only screen and (max-width: 800px) {
    .filter-bar{
        float : none;
        margin-left : auto;
        margin-right : auto;
        margin-bottom : 10px
    }
    
    .generator-results{
        float : none;
        margin-left : auto;
        margin-right : auto;
        margin-bottom : 10px
    }
}

.muscle-bar{
    height: 250px;
    width: 150px;
    overflow-y: auto;
}

.equipment-bar{
    height: 150px;
    width: 150px;
    overflow-y: auto;
}

.category-space{
    margin-bottom: 60px;
}

.category-header{
    font-size: 20px;
}

.about-section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aliceblue;
    align-content: center;
    clear: both;
    padding: 3%;
}

.about-main-header{
    font-size: 35px;
}

.about-header{
    font-size: 28px;
}

.admin-form{
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: lightblue;
    border-radius: 8px;
    animation: fade 2s;
}